<nav class="navbar navbar-expand-lg bg-info" id="mainNav">
  <div class="container">
    <a href='/'><i class="fas fa-tools fa-3x text-light"></i></a>
    <a href='/' class="navbar-brand js-scroll-trigger ml-4">repair Tracker</a>
    <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-info text-white rounded" type="button"
      data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-2 px-0 px-lg-1 rounded js-scroll-trigger"
            href="#new">NEW WORK ORDER</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-2 px-0 px-lg-1 rounded js-scroll-trigger"
            href="/logout">LOG OUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="col-lg-12 mt-4 mr-auto" id="infoCard">
  <div class="card">
    <div class="card-header font-weight-bold bg-info text-white h4 d-flex justify-content-center">
      CREATE EMPLOYEE ACCOUNT:
    </div>
    <div class="card-body row justify-content-center">
      <div id="adminSignupError" class="mt-2" style="padding:20px;border-radius:50px;"></div>
      <div class="col-lg-12">
        <form class="adminSignup">
          <div class="form-row justify-content-between">
            <div class="form-group col-lg-3">
              <label for="email address">Email address</label>
              <input type="email" class="form-control" id="email-input" placeholder="Email">
            </div>
            <div class="form-group col-lg-3">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>
            <div class="form-group col-lg-3">
              <label for="first name">First</label>
              <input type="text" class="form-control" id="first-input" placeholder="First Name">
            </div>
            <div class="form-group col-lg-3">
              <label for="last name">Last</label>
              <input type="text" class="form-control" id="last-input" placeholder="Last Name">
            </div>
          </div>
          <div class="form-row justify-content-between">
            <div class="form-group col-lg-3">
              <label for="position">Position</label>
              <select id="position-input" class="" placeholder="Position">
                <option selected>Technician</option>
                <option>Manager</option>
                <option>Employee</option>
                <option>Admin</option>
              </select>
            </div>
            <div class="form-group col-lg-3">
              <label for="phone number">Phone</label>
              <input type="text" class="form-control" id="phone-input" placeholder="Numbers Only, No () or -">
            </div>
            <div class="form-group col-lg-3">
              <label for="date of bith">D.O.B.</label>
              <input type="text" class="form-control" id="dob-input" placeholder="DOB">
            </div>
            <div class="form-group col-lg-3">
              <label for="ssn">SSN</label>
              <input type="text" class="form-control" id="ssn-input" placeholder="SSN">
            </div>
            <div style="display: none" id="alert" class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span> <span class="msg"></span>
            </div>
          </div>
          <button type="submit" class="btn-lg btn-info text-white">CREATE</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12 mt-4 mr-auto">
  <div class="card">
    <div class="card-header font-weight-bold bg-info text-white h4 d-flex justify-content-center">EDIT USER RECORDS:
    </div>
    <div class="card-body row justify-content-center">
      <div id="editRecordError" class="mt-2" style="padding:20px;border-radius:50px;"></div>
      <div class="col-lg-12">

        {{#each users}}
        {{> users/user-record}}
        {{/each}}

      </div>
    </div>
  </div>
</div>

</body>

</html>