<div class="bg-info">
  <div class="container">
    <h1 class="display-4 font-weight-bold pad">Repair Tracker</h1>

  </div>
</div>

<div class="container">
  <div class="row">
    <h4>Received:</h4>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Contact</th>
          <th scope="col">Issue</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      {{#each burgers}}
      {{#if received}}
      {{> burgers/burger-block received=true}}
      {{/if}}
      {{/each}}
    </table>
  </div>
</div>

<div class="container">
  <div class="row">
    <h4>In Progress:</h4>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Contact</th>
          <th scope="col">Issue</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
 {{#each burgers}}
      {{#if inProgress}}
      {{> burgers/burger-block inProgress=true}}
      {{/if}}
      {{/each}}
    </table>
  </div>
</div>

<div class="container">
  <div class="row">
    <h4>Waiting on Parts:</h4>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Contact</th>
          <th scope="col">Issue</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
 {{#each burgers}}
      {{#if waiting}}
      {{> burgers/burger-block waiting=true}}
      {{/if}}
      {{/each}}
    </table>
  </div>
</div>

<div class="container">
  <div class="row">
    <h4>Complete:</h4>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Contact</th>
          <th scope="col">Issue</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/if}}
        {{/each}}
    </table>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="card mb-3">
    <div class="card-header font-weight-bold h4 d-flex justify-content-center">Input Order:</div>
    <div class="card-body font-weight-bold">

      <form class="create-form">

        <div class="form-group">
          <label for="firstname">First Name:</label>
          <input type="text" id="firstname" name="name">
          <label for="lastname">Last Name:</label>
          <input type="text" id="lastname" name="name">
          <div class="d-flex justify-content-center">
            <label for="tel">Telephone:</label>
            <input type="text" id="tel" name="name">
          </div>
          <label for="issue" class="d-flex justify-content-center">Issue:</label>
          <textarea class="form-control" id="issue" rows="3"></textarea>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn-lg btn-info">Add Customer</button>
        </div>
      </form>
      </form>
    </div>
  </div>

</div>