<section class="mt-4 bg-light text-dark mb-0" id="main">

  <div class="">
    <!-- SIDE NAVIGATION -->
    <div class="row">
      <div class="col-lg-4 ml-auto">

        <!-- Error handling -->
        <div id="searchError">

        </div>
        <!-- SEARCH BAR GOES HERE-->
        <form class="searchForm bg-info">
          <div class="form-row ml-1">
            <div class="col-lg-5 mt-1">
              <select id="searchType" class="">
                <option>Search By</option>
                <option>Order Number</option>
                <option>Last Name</option>
              </select>
            </div>
            <div class="col-lg-5 mt-1">
              <input type="text" class="" placeholder="" id="searchTerm">
            </div>
            <button class="btn btn-info btn-circle" type="submit"><i class="fas fa-2x fa-search"></i></button>
          </div>
        </form>

        <nav class="navbar bg-white rounded-lg">
          <div class="container">
            <button
              class="navbar-toggler navbar-toggler-right font-weight-bold bg-info text-white rounded col-lg-12 ml-auto"
              type="button" data-toggle="collapse" data-target="#receivedList" aria-controls="receivedList"
              aria-expanded="false" aria-label="Toggle navigation"> RECEIVED </button>
            <div class="collapse navbar-collapse" id="receivedList">
              <ul class="navbar-nav ml-auto font-weight-bold">
                {{#each orders}}
                {{#if received}}
                {{> orders/order-nav received=true}}
                {{/if}}
                {{/each}}
              </ul>
            </div>
          </div>
        </nav>

        <nav class="navbar bg-white">
          <div class="container">
            <button
              class="navbar-toggler navbar-toggler-right font-weight-bold bg-info text-white rounded col-lg-12 ml-auto"
              type="button" data-toggle="collapse" data-target="#inProgressList" aria-controls="inProgressList"
              aria-expanded="false" aria-label="Toggle navigation"> IN PROGRESS </button>
            <div class="collapse navbar-collapse" id="inProgressList">
              <ul class="navbar-nav ml-auto font-weight-bold">
                {{#each orders}}
                {{#if inProgress}}
                {{> orders/order-nav inProgress=true}}
                {{/if}}
                {{/each}}
              </ul>
            </div>
          </div>
        </nav>

        <nav class="navbar bg-white">
          <div class="container">
            <button
              class="navbar-toggler navbar-toggler-right font-weight-bold bg-info text-white rounded col-lg-12 ml-auto"
              type="button" data-toggle="collapse" data-target="#waitingList" aria-controls="waitingList"
              aria-expanded="false" aria-label="Toggle navigation"> ON HOLD </button>
            <div class="collapse navbar-collapse" id="waitingList">
              <ul class="navbar-nav ml-auto font-weight-bold">
                {{#each orders}}
                {{#if waiting}}
                {{> orders/order-nav waiting=true}}
                {{/if}}
                {{/each}}
              </ul>
            </div>
          </div>
        </nav>

        <nav class="navbar bg-white rounded-lg">
          <div class="container">
            <button
              class="navbar-toggler navbar-toggler-right font-weight-bold bg-info text-white rounded col-lg-12 ml-auto"
              type="button" data-toggle="collapse" data-target="#completeList" aria-controls="completeList"
              aria-expanded="false" aria-label="Toggle navigation"> COMPLETE </button>
            <div class="collapse navbar-collapse" id="completeList">
              <ul class="navbar-nav ml-auto font-weight-bold">
                {{#each orders}}
                {{#if complete}}
                {{> orders/order-nav complete=true}}
                {{/if}}
                {{/each}}
              </ul>
            </div>
          </div>
        </nav>

      </div>